<div class="notice">
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
</div>

<h1>Check Out Our Products</h1>

<ul>
	<div>
		<% @categories.each do |cat| %>
			<li><%= link_to cat.name, category_path(cat) %></li>
		<% end %>
	</div>
</ul>
