<h1>@category.name</h1>
<br>
<div>
	<table>
		<% @category.products.each do |product| %>
			<tr>
				<td><%= link_to image_tag(product.image_url), product %></td>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
			</tr>
		<% end %>	
	</table>
</div>
<br>
<p><%= paginate @category.products %></p>

